In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import yaml
config = yaml.safe_load(open('dart_config.yml'))

In [3]:
db_url = 'mysql://' + config['DB_USER'] + ':' + config['DB_USER_PASSWORD'] + '@' + config['DB_HOST'] \
                            + '/' + config['DB_NAME'] + '?charset=utf8'
engine = create_engine(db_url, encoding='utf-8')
conn = engine.connect()

In [4]:
company_df = pd.read_sql_table(config['DB_TABLE_NAME_1'], con=conn, index_col='id', 
                          columns=['id', 'name', '업종'])
company_df.head()

     name           업종
id
1   롯데케미칼  기초 화학물질 제조업
2    대한유화  기초 화학물질 제조업
3    이화산업    기타 전문 도매업
4   디케이앤디   플라스틱제품 제조업
5    송원산업  기타 화학제품 제조업

In [5]:
account_df = pd.read_sql_table(config['DB_TABLE_NAME_2'], con=conn, index_col='id',
                         columns=['id', 'company_id', 'year', 'quarter', 'data_period', 
                                  '매출액', '영업이익', '분기순이익'])
account_df.head()

    company_id  year  quarter data_period      매출액      영업이익     분기순이익
id
1            1  2012        1     quarter  385.037  21.96120  18.17950
2            1  2012        2     quarter  394.880  -2.83395  -1.41608
3            1  2012        3     quarter  413.187  20.22220  15.73590
4            1  2012        4     quarter  350.719 -23.49350 -15.59320
5            1  2013        1     quarter  417.124  11.74340  11.36530

In [9]:
pd.merge(account_df, company_df, left_on='company_id', right_index=True, how='outer')

,company_id,year,quarter,data_period,매출액,영업이익,분기순이익,name,업종
id,,,,,,,,,
1,1,2012.0,1.0,quarter,385.037,21.96120,18.17950,롯데케미칼,기초 화학물질 제조업
2,1,2012.0,2.0,quarter,394.880,-2.83395,-1.41608,롯데케미칼,기초 화학물질 제조업
3,1,2012.0,3.0,quarter,413.187,20.22220,15.73590,롯데케미칼,기초 화학물질 제조업
4,1,2012.0,4.0,quarter,350.719,-23.49350,-15.59320,롯데케미칼,기초 화학물질 제조업
5,1,2013.0,1.0,quarter,417.124,11.74340,11.36530,롯데케미칼,기초 화학물질 제조업
6,1,2013.0,2.0,quarter,416.122,6.95780,2.48152,롯데케미칼,기초 화학물질 제조업
7,1,2013.0,3.0,quarter,403.925,17.17490,15.30810,롯데케미칼,기초 화학물질 제조업
8,1,2013.0,4.0,quarter,432.115,-2.78240,-17.34180,롯데케미칼,기초 화학물질 제조업
9,1,2014.0,1.0,quarter,387.337,6.83337,4.77603,롯데케미칼,기초 화학물질 제조업
10,1,2014.0,2.0,quarter,378.195,8.43492,5.16855,롯데케미칼,기초 화학물질 제조업
11,1,2014.0,3.0,quarter,370.829,14.22100,10.06900,롯데케미칼,기초 화학물질 제조업
12,1,2014.0,4.0,quarter,373.413,-7.57010,-15.84170,롯데케미칼,기초 화학물질 제조업
13,1,2015.0,1.0,quarter,279.956,17.79960,11.98090,롯데케미칼,기초 화학물질 제조업
14,1,2015.0,2.0,quarter,317.864,63.97890,46.01730,롯데케미칼,기초 화학물질 제조업
15,1,2015.0,3.0,quarter,303.475,48.44850,23.93890,롯데케미칼,기초 화학물질 제조업
16,1,2015.0,4.0,quarter,260.905,15.76650,27.24890,롯데케미칼,기초 화학물질 제조업
17,1,2016.0,1.0,quarter,268.450,47.35900,34.57250,롯데케미칼,기초 화학물질 제조업
18,1,2016.0,2.0,quarter,344.112,69.39440,46.02570,롯데케미칼,기초 화학물질 제조업
19,1,2016.0,3.0,quarter,342.655,64.31700,45.14240,롯데케미칼,기초 화학물질 제조업
20,1,2016.0,4.0,quarter,294.385,61.47400,48.29080,롯데케미칼,기초 화학물질 제조업
21,1,2017.0,1.0,quarter,399.599,81.48260,64.13620,롯데케미칼,기초 화학물질 제조업
22,1,2017.0,2.0,quarter,385.334,63.22250,51.54640,롯데케미칼,기초 화학물질 제조업
23,1,2017.0,3.0,quarter,399.020,76.61720,63.10420,롯데케미칼,기초 화학물질 제조업
24,1,2017.0,4.0,quarter,390.390,63.12040,39.14540,롯데케미칼,기초 화학물질 제조업
25,1,2018.0,1.0,quarter,412.325,66.20240,54.31850,롯데케미칼,기초 화학물질 제조업
26,1,2018.0,2.0,quarter,433.020,70.13200,57.90110,롯데케미칼,기초 화학물질 제조업
27,1,2018.0,3.0,quarter,424.760,50.36430,45.43240,롯데케미칼,기초 화학물질 제조업
28,1,2018.0,4.0,quarter,380.220,45.64710,27.89580,롯데케미칼,기초 화학물질 제조업
29,1,2019.0,1.0,quarter,372.183,29.56860,22.37330,롯데케미칼,기초 화학물질 제조업
30,1,2019.0,2.0,quarter,403.461,34.61490,27.12720,롯데케미칼,기초 화학물질 제조업
...,...,...,...,...,...,...,...,...,...
5888,3131,NaN,NaN,NaN,NaN,NaN,NaN,톱텍,특수 목적용 기계 제조업
5888,3132,NaN,NaN,NaN,NaN,NaN,NaN,시노펙스,전자부품 제조업
5888,3133,NaN,NaN,NaN,NaN,NaN,NaN,기가레인,특수 목적용 기계 제조업
5888,3134,NaN,NaN,NaN,NaN,NaN,NaN,삼진,통신 및 방송 장비 제조업
5888,3135,NaN,NaN,NaN,NaN,NaN,NaN,아모텍,전자부품 제조업
5888,3136,NaN,NaN,NaN,NaN,NaN,NaN,유비쿼스,통신 및 방송 장비 제조업
5888,3137,NaN,NaN,NaN,NaN,NaN,NaN,진바이오텍,동물용 사료 및 조제식품 제조업
5888,3138,NaN,NaN,NaN,NaN,NaN,NaN,우진,"측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외"
5888,3139,NaN,NaN,NaN,NaN,NaN,NaN,만호제강,1차 철강 제조업
5888,3140,NaN,NaN,NaN,NaN,NaN,NaN,한국맥널티,기타 식품 제조업
5888,3141,NaN,NaN,NaN,NaN,NaN,NaN,디오,의료용 기기 제조업
5888,3142,NaN,NaN,NaN,NaN,NaN,NaN,방림,직물직조 및 직물제품 제조업
5888,3143,NaN,NaN,NaN,NaN,NaN,NaN,태경산업,기초 화학물질 제조업
5888,3144,NaN,NaN,NaN,NaN,NaN,NaN,피엔티,특수 목적용 기계 제조업
5888,3145,NaN,NaN,NaN,NaN,NaN,NaN,디에이테크놀로지,특수 목적용 기계 제조업
5888,3146,NaN,NaN,NaN,NaN,NaN,NaN,인베니아,특수 목적용 기계 제조업
5888,3147,NaN,NaN,NaN,NaN,NaN,NaN,대림산업,토목 건설업
5888,3148,NaN,NaN,NaN,NaN,NaN,NaN,나노신소재,기타 화학제품 제조업
5888,3149,NaN,NaN,NaN,NaN,NaN,NaN,엔에스,특수 목적용 기계 제조업
5888,3150,NaN,NaN,NaN,NaN,NaN,NaN,에스에이티,"측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외"
5888,3151,NaN,NaN,NaN,NaN,NaN,NaN,아진엑스텍,반도체 제조업
5888,3152,NaN,NaN,NaN,NaN,NaN,NaN,아이원스,특수 목적용 기계 제조업
5888,3153,NaN,NaN,NaN,NaN,NaN,NaN,에스와이,"구조용 금속제품, 탱크 및 증기발생기 제조업"
5888,3154,NaN,NaN,NaN,NaN,NaN,NaN,삼성물산,기타 전문 도매업
5888,3155,NaN,NaN,NaN,NaN,NaN,NaN,유니드,기초 화학물질 제조업
5888,3156,NaN,NaN,NaN,NaN,NaN,NaN,디엠티,통신 및 방송 장비 제조업
5888,3157,NaN,NaN,NaN,NaN,NaN,NaN,대성파인텍,자동차 신품 부품 제조업
5888,3158,NaN,NaN,NaN,NaN,NaN,NaN,아이엠,전자부품 제조업
5888,3159,NaN,NaN,NaN,NaN,NaN,NaN,유니드,기초 화학물질 제조업
5888,3160,NaN,NaN,NaN,NaN,NaN,NaN,한양디지텍,반도체 제조업