In [1]:
# Read object json file
import json
with open('data/company.json') as f:
    company_dict = json.load(f)
# company_dict

In [2]:
# Read csv
import pandas as pd
trade_df = pd.read_csv("./data/data.csv", encoding="utf-8", parse_dates=['ISSUEDT'],
                       dtype={'HSCD': str, "QTY": float, 'BYRADDR2': str, 'SPLYADDR2': str})
trade_df.head()

/home/ktnet/Git/pandas-modules/venv/lib/python3.5/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,HSCD,QTY,QTYUNIT,AMT,CUR,USDUNTPRICE,UNTPRICE,ITEM,BYRORGNM1,BYRPRTNUM,...,BYRADDR2,SPLYORGNM1,SPLYPRTNUM,SPLYADDR1,SPLYADDR2,ISSUEDT,TOTQTY,TOTQTYUNIT,TOTAMT,TOTAMTCUR
0,7210491090,168000.0,KG,126504.0,USD,753.0,753.0,GI COIL,주식회사 포스코대우,1318555320,...,주식회사 포스코대우,POSCO,5068100017,"1 GOEDONG-DONG, NAM-GU",NaN,2017-09-20,525842000.0,KG,2.356666e+08,USD
1,7210491090,173000.0,KG,98175.0,USD,595.0,595.0,GI COIL,주식회사 포스코대우,1318555320,...,주식회사 포스코대우,POSCO,5068100017,"1 GOEDONG-DONG, NAM-GU",NaN,2017-09-20,525842000.0,KG,2.356666e+08,USD
2,7210491090,130000.0,KG,85878.0,USD,660.6,660.6,GI COIL,주식회사 포스코대우,1318555320,...,주식회사 포스코대우,POSCO,5068100017,"1 GOEDONG-DONG, NAM-GU",NaN,2017-09-20,525842000.0,KG,2.356666e+08,USD
3,7209169000,17600000.0,KG,9901504.0,USD,569.0,569.0,CR COIL (3MM<=T),주식회사 포스코대우,1318555320,...,주식회사 포스코대우,POSCO,5068100017,"1 GOEDONG-DONG, NAM-GU",NaN,2017-09-20,525842000.0,KG,2.356666e+08,USD
4,7210491090,11000.0,KG,6435.0,USD,585.0,585.0,GI COIL,주식회사 포스코대우,1318555320,...,주식회사 포스코대우,POSCO,5068100017,"1 GOEDONG-DONG, NAM-GU",NaN,2017-09-20,525842000.0,KG,2.356666e+08,USD

In [3]:
# Make new dataframe
trade_df_columns = trade_df.columns.tolist()
new_df = pd.DataFrame(columns=trade_df_columns)
new_df.head()

Empty DataFrame
Columns: [HSCD, QTY, QTYUNIT, AMT, CUR, USDUNTPRICE, UNTPRICE, ITEM, BYRORGNM1, BYRPRTNUM, BYRADDR1, BYRADDR2, SPLYORGNM1, SPLYPRTNUM, SPLYADDR1, SPLYADDR2, ISSUEDT, TOTQTY, TOTQTYUNIT, TOTAMT, TOTAMTCUR]
Index: []

[0 rows x 21 columns]

In [4]:
# Parse buyer
print('=' * 20 + " BUYER SEARCH " + '=' * 20)
total_count = len(company_dict)
count = 0
for origin_company_name in company_dict:
    for company_name in company_dict[origin_company_name]:
        target_dataframe = trade_df.loc[trade_df['BYRORGNM1'] == company_name]
        # print(origin_company_name, company_name, len(target_dataframe.loc[:,:]))
        target_dataframe.loc[:, 'BYRORGNM1'] = origin_company_name
        new_df = pd.concat([new_df, target_dataframe])
    count += 1
    print(origin_company_name, count, '/', total_count)

==================== BUYER SEARCH ====================

/home/ktnet/Git/pandas-modules/venv/lib/python3.5/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

서울반도체 1 / 795
우신시스템 2 / 795
코스온 3 / 795

KeyboardInterrupt:

In [5]:
# Check duplicated index
new_df[new_df.index.duplicated(keep=False)]

Empty DataFrame
Columns: [HSCD, QTY, QTYUNIT, AMT, CUR, USDUNTPRICE, UNTPRICE, ITEM, BYRORGNM1, BYRPRTNUM, BYRADDR1, BYRADDR2, SPLYORGNM1, SPLYPRTNUM, SPLYADDR1, SPLYADDR2, ISSUEDT, TOTQTY, TOTQTYUNIT, TOTAMT, TOTAMTCUR]
Index: []

[0 rows x 21 columns]

In [6]:
# Check
print('Number of buyer', len(new_df))

Number of buyer 3998554

In [5]:
# Parse supplier
print('=' * 20 + " SUPPLIER SEARCH " + '=' * 20)
total_count = len(company_dict)
count = 0
for origin_company_name in company_dict:
    for company_name in company_dict[origin_company_name]:
        target_dataframe = trade_df.loc[trade_df['SPLYORGNM1'] == company_name]
        target_dataframe.loc[:, 'SPLYORGNM1'] = origin_company_name
        new_df = pd.concat([new_df, target_dataframe])
    count += 1
    print(origin_company_name, count, '/', total_count)

==================== SUPPLIER SEARCH ====================
서울반도체 1 / 795
우신시스템 2 / 795
코스온 3 / 795

KeyboardInterrupt:

In [6]:
# Check duplicated index
new_df[new_df.index.duplicated(keep=False)].head()

Empty DataFrame
Columns: [HSCD, QTY, QTYUNIT, AMT, CUR, USDUNTPRICE, UNTPRICE, ITEM, BYRORGNM1, BYRPRTNUM, BYRADDR1, BYRADDR2, SPLYORGNM1, SPLYPRTNUM, SPLYADDR1, SPLYADDR2, ISSUEDT, TOTQTY, TOTQTYUNIT, TOTAMT, TOTAMTCUR]
Index: []

[0 rows x 21 columns]

In [9]:
# Check
print('Number of buyer and supplier', len(new_df))

Number of buyer and supplier 6501059

In [10]:
# Check
print('Number of duplicated data pairs', len(new_df[new_df.index.duplicated(keep=False)])/2)

Number of duplicated data pairs 845575.0

In [15]:
# Check duplicated index
test_df = new_df[new_df.index.duplicated(keep=False)]
test_df.head()

,HSCD,QTY,QTYUNIT,AMT,CUR,USDUNTPRICE,UNTPRICE,ITEM,BYRORGNM1,BYRPRTNUM,...,BYRADDR2,SPLYORGNM1,SPLYPRTNUM,SPLYADDR1,SPLYADDR2,ISSUEDT,TOTQTY,TOTQTYUNIT,TOTAMT,TOTAMTCUR
2296600,9405409000,2.0,EA,139201.0,KRW,NaN,69600.65,LED MODULE,루미마이크로,1248199564,...,-1,금호전기,1058100527,서울특별시 마포구,마포대로 4다길 41 (마포동),2017-05-10,37.0,EA,260296.0,KRW
2296601,9405409000,35.0,EA,121094.0,KRW,NaN,121094.00,LED MODULE,루미마이크로,1248199564,...,-1,금호전기,1058100527,서울특별시 마포구,마포대로 4다길 41 (마포동),2017-05-10,37.0,EA,260296.0,KRW
2337594,8504401090,11193.0,EA,55843419.0,KRW,NaN,4989.00,Solid Tube SMPS,루미마이크로,1248199564,...,-1,금호전기,1058100527,서울특별시 마포구,마포대로 4다길 41 (마포동),2017-06-09,31619.0,EA,184431808.0,KRW
2337595,8504401090,2320.0,EA,19681057.0,KRW,NaN,8483.00,Solid Tube SMPS,루미마이크로,1248199564,...,-1,금호전기,1058100527,서울특별시 마포구,마포대로 4다길 41 (마포동),2017-06-09,31619.0,EA,184431808.0,KRW
2337596,8504401090,960.0,EA,9530552.0,KRW,NaN,9928.00,Solid Tube SMPS,루미마이크로,1248199564,...,-1,금호전기,1058100527,서울특별시 마포구,마포대로 4다길 41 (마포동),2017-06-09,31619.0,EA,184431808.0,KRW

In [7]:
# Devide dataframe... by column
test_df.loc[test_df.index.duplicated(keep='first'), 'SPLYORGNM1':].sort_index().head()

NameError: name 'test_df' is not defined

In [8]:
# Devide dataframe... by column
test_df.loc[test_df.index.duplicated(keep='last'), :'BYRADDR2'].sort_index().head()

NameError: name 'test_df' is not defined

In [9]:
# Process duplicated rows
pd.merge(test_df.loc[test_df.index.duplicated(keep='last'), :'BYRADDR2'].sort_index(),\
         test_df.loc[test_df.index.duplicated(keep='first'), 'SPLYORGNM1':].sort_index(),\
         left_index=True, right_index=True, how='left').head()

NameError: name 'test_df' is not defined

In [49]:
# Check sustract new_df to duplicated
len(new_df[~new_df.index.duplicated(keep=False)])

4809909

In [50]:
# Calculate
6501059 - 845575 * 2

4809909

In [51]:
new_df = new_df[~new_df.index.duplicated(keep=False)]

In [52]:
len(new_df)

4809909

In [53]:
processed_duplicated_df = pd.merge(test_df.loc[test_df.index.duplicated(keep='last'), :'BYRADDR2'].sort_index(),\
                                   test_df.loc[test_df.index.duplicated(keep='first'), 'SPLYORGNM1':].sort_index(),\
                                   left_index=True, right_index=True, how='left')

In [54]:
new_df = pd.concat([new_df, processed_duplicated_df])

In [55]:
len(new_df)

5655484

In [56]:
6501059 - 845575

5655484

In [57]:
new_df.to_csv('data/processed_purchase_data.csv')

In [ ]:
'''
for target_index in target_dataframe.index:
            if target_index in new_df.index:
                new_df.loc[target_index, 'SPLYORGNM1'] = origin_company_name
                target_dataframe = target_dataframe.drop(target_index)
            else:
'''